/autochrome-tag/useragent_tag_blue.json
/autochrome-tag/useragent_tag_cyan.json
/autochrome-tag/useragent_tag_green.json
/autochrome-tag/useragent_tag_orange.json
/autochrome-tag/useragent_tag_purple.json
/autochrome-tag/useragent_tag_red.json
/autochrome-tag/useragent_tag_white.json
/autochrome-tag/useragent_tag_yellow.json
_metadata/
/autochrome-tag.pem
/autochrome-tag.crx
