/useragent_tag_blue.json
/useragent_tag_cyan.json
/useragent_tag_green.json
/useragent_tag_orange.json
/useragent_tag_purple.json
/useragent_tag_red.json
/useragent_tag_white.json
/useragent_tag_yellow.json
/_metadata/
